
/* Top Bar
-------------------------------------------------------------- */

#ld-top-bar {
  width:100%;
  position:absolute;
  top:0;
  left:0;
}

#ld-top-bar-inner {
  overflow:hidden;
  font:11px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom:1px solid #ccc;
  background:inherit;
  padding:0;
  height:28px;
}

#ld-top-bar .a {
  float:left;
}

#ld-top-bar .b {
  float:right;
}

#ld-top-bar-inner .a,
#ld-top-bar-inner .b {
  font-size:12px;
  line-height:28px;
}

#ld-top-bar-inner a {
  display:inline-block;
  text-decoration:none;
  border-bottom:0;
  background:none;
}

#ld-top-bar-inner a:hover {
  text-decoration:underline;
}

#ld-top-bar-inner .a a {
  border-right:1px solid #ccc;
  padding-right:10px;
}

#ld-top-bar-inner a.ld-site-name {
  background:url(img/star.png) 10px 5px no-repeat;
  padding-left:35px;
}

#ld-top-bar-inner a.ld-subsite-name {
  padding-left:10px;
}

#ld-top-bar-inner .b a {
  border-left:1px solid #ccc;
  padding-left:11px;
  padding-right:10px;
}

#ld-top-bar-inner a.ld-userinfo:hover { text-decoration:none; }
#ld-top-bar-inner a.ld-userinfo:hover span { text-decoration:underline; }

#ld-top-bar-inner .b img.avatar {
  border:0;
  vertical-align:-4px;
  padding-right:5px;
  padding-left:1px;
}

#ld-top-bar-inner a.ld-app-name {
  padding-left:10px;
  background:4px 6px no-repeat;
}

#ld-top-bar-inner a.ld-app-name.wordpress,
ul.instances li.wordpress { padding-left:25px; background-image:url(img/wp16.png); }
#ld-top-bar-inner a.ld-app-name.dokuwiki,
ul.instances li.dokuwiki  { padding-left:25px; background-image:url(img/dw16.png); }
#ld-top-bar-inner a.ld-app-name.bbpress,
ul.instances li.bbpress   { padding-left:25px; background-image:url(img/bp16.png); }
#ld-top-bar-inner a.ld-app-name.gallery,
ul.instances li.gallery   { padding-left:25px; background-image:url(img/ga16.png); }
#ld-top-bar-inner a.ld-app-name.statusnet,
ul.instances li.statusnet { padding-left:25px; background-image:url(img/statusnet-16.png); }
#ld-top-bar-inner a.ld-app-name.firefox-sync,
ul.instances li.firefox-sync { padding-left:25px; background-image:url(img/firefox-sync-16.png); }
#ld-top-bar-inner a.ld-app-name.blogmarks,
ul.instances li.blogmarks { padding-left:25px; background-image:url(img/blogmarks-16.png); }
#ld-top-bar-inner a.ld-app-name.moonmoon,
ul.instances li.moonmoon { padding-left:25px; background-image:url(img/moonmoon-16.png); }

/* Top Menu
-------------------------------------------------------------- */

.ld-top-menu {
  font:11px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left:15px;
  position:absolute;
  left:0;
  top:28px;
  z-index:9991;
}

.ld-top-menu-inner {
  border:1px solid #ccc;
  background:inherit;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px;
  -webkit-border-bottom-left-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  overflow:hidden;
}

.ld-top-menu div.applications, .ld-top-menu div.ladistribution {
  float:left;
  width:auto;
  margin:0;
}

.ld-top-menu div.applications {
  padding-right:0;
}

.ld-top-menu h3 {
  font-size:12px;
  padding:0;
  margin:0;
  font-weight:normal;
  text-transform:uppercase;
  letter-spacing:-0.05em;
  padding:10px 15px 0;
}

.ld-top-menu ul.instances {
  margin:0;
  padding:5px 15px;
  min-width:125px;
}

.ld-top-menu ul.instances li {
  list-style-type:none;
  background-repeat:no-repeat;
  background-position:2px 5px;
  padding-top:5px;
  padding-bottom:5px;
  border-top:1px dotted #666;
  font-size:13px;
  line-height:14px;
  padding-left:0;
}

.ld-top-menu ul.instances li span.path {
  display:block;
}

.ld-top-menu ul.instances li a { display:block; padding-left:25px; text-decoration:none; opacity:0.9; }
.ld-top-menu ul.instances li a:hover span.name { text-decoration:underline; }

.ld-top-menu ul.instances li span.path { font-size:10px; opacity:0.75; }

/* Icons */

.ld-top-menu ul.instances li.home     { background-image:url(iconic/home_16x16_gray_dark.png); }
.ld-top-menu ul.instances li.timeline { background-image:url(iconic/clock_16x16_gray_dark.png); }
.ld-top-menu ul.instances li.admin    { background-image:url(iconic/pen_alt_fill_16x16_gray_dark.png); }
.ld-top-menu ul.instances li.settings { background-image:url(iconic/cog_alt_16x16_gray_dark.png); }
.ld-top-menu ul.instances li.users    { background-image:url(iconic/user_12x16_gray_dark.png); background-position:4px 5px; }
