table.h6e-data {
  width:auto;
  border-collapse:collapse;
}

table.h6e-data th {
  font-weight:bold;
  background:#ddd;
}

table.h6e-data th, table.h6e-data td, table.h6e-data caption {
  padding: 4px 10px 4px 5px;
}

table.h6e-data tr.th2 th {
  background:#eee;
}

table.h6e-data td, table.h6e-data th {
  border:1px solid #ccc;
}

table.h6e-data tr.even td {
  background:#f5f5f5;
}

table.h6e-data tr td.move {
  padding:10px;
  background:url(img/move.png) center center no-repeat;
}

table.h6e-data tr.dragging td {
  opacity:0.5;
  background:transparent;
  /* http://www.quirksmode.org/css/opacity.html */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

/* For Plugin screen */

table.h6e-data td table.ld-preferences {
    margin-bottom:0;
}

table.h6e-data td table.ld-preferences td, table.h6e-data td table.ld-preferences th {
    background:none;
    border:none;
    padding-top:5px;
}

table.h6e-data td table.ld-preferences th {
    vertical-align:top;
}

table.h6e-data th.plugin-description,
table.h6e-data th.plugin-active,
table.h6e-data td table.ld-preferences label {
    font-weight:normal;
}

table.h6e-data td table.ld-preferences input.text,
table.h6e-data td table.ld-preferences textarea {
    font:12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    width:30em;
    margin:0;
}

table.h6e-data td.plugin-details p {
    margin:0;
    padding:5px;
    font-size:1em;
}

table.h6e-data td.plugin-details p.plugin-status.error {
    background:url(iconic/x_alt_16x16.png) 4px 6px no-repeat;
    padding-left:26px;
}

table.h6e-data td.plugin-details p.plugin-status.ok {
    background:url(iconic/check_16x13.png) 5px 7px no-repeat;
    padding-left:26px;
}
