/* --------------------------------------------------------------
   
   LD UI - Instances Blocks
   
-------------------------------------------------------------- */

/* Original Style
-------------------------------------------------------------- */

ul.blocks {
  width:100%;
  overflow:hidden;
  margin:1em 0;
  -moz-padding-start:0;
}

ul.blocks li {
  display:block;
  float:left;
  border:1px solid #ccc;
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  width:125px;
  height:125px;
  padding:10px;
  margin-right:10px;
  margin-bottom:10px;
  background:center center no-repeat;
}

ul.blocks li.empty {
  border:1px dashed #ccc;

}

ul.blocks li.empty, ul.blocks li.empty a, ul.blocks li.empty a:visited {
  color:#777;	
}

ul.blocks li.wordpress { background-image:url(img/wp100.png); }
ul.blocks li.dotclear  { background-image:url(img/dc100.png); }
ul.blocks li.dokuwiki  { background-image:url(img/dw100.png); }
ul.blocks li.spip      { background-image:url(img/sp100.png); }
ul.blocks li.habari    { background-image:url(img/hb100.png); }
ul.blocks li.laconica  { background-image:url(img/lc100.png); }
ul.blocks li.bbpress   { background-image:url(img/bp100.png); }
ul.blocks li.weave     { background-image:url(img/mw100.png); }

/* Alternative 'mini' Style
-------------------------------------------------------------- */

ul.blocks.mini li {

  padding:10px;
  padding-left:53px;

  width:auto;
  height:auto;

  background:#EDEDED center left no-repeat;

  border-color:#ddd;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;

  line-height:1.2em;
}

ul.blocks.mini li .name {
  float:left;
}

ul.blocks.mini li .links {
  font-size:11px;
  float:right;
  margin-left:10px;
  border-left:1px dotted #ccc;
  padding-left:10px;
}

/* Fix a display issue with Firefox 3.5 */
ul.blocks.mini li.ui-sortable-helper,
ul.blocks.mini li.ui-sortable-placeholder { height:33px !important; }
ul.blocks.mini li.ui-sortable-helper .links { display:none; }

ul.blocks.mini li.empty {
  padding-left:10px;
  background:#f9f9f9;
  background:transparent;
  height:32px;
}


ul.blocks.mini li.current {
  background-color:#f5f5f5;
  border-color:#aaa;
}

ul.blocks.mini li .path {
  font-size:11px;
  color:#999;
}

ul.blocks.mini li .path, ul.blocks.mini li .manage  {
  white-space:nowrap;
}

ul.blocks.mini li      { background-image:url(img/default48.png); }
ul.blocks.mini li.wordpress { background-image:url(img/wp48.png); }
ul.blocks.mini li.dokuwiki  { background-image:url(img/dw48.png); }
ul.blocks.mini li.bbpress   { background-image:url(img/bp48.png); }
ul.blocks.mini li.weave     { background-image:url(img/mw48.png); }
