/* --------------------------------------------------------------
   
   LD UI - Instances Blocks
   
-------------------------------------------------------------- */

/* Original Style
-------------------------------------------------------------- */

ul.blocks {
  width:100%;
  overflow:hidden;
  margin:1em 0;
}

ul.blocks li {
  display:block;
  float:left;
  border:1px solid #ccc;
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  width:125px;
  height:125px;
  padding:10px;
  margin-right:10px;
  margin-bottom:10px;
  background:center center no-repeat;
}

ul.blocks li.empty {
  border:1px dashed #ccc;

}

/* Alternative 'mini' Style
-------------------------------------------------------------- */

ul.blocks.instance-list, ul.blocks.new-instance {
  width:980px;
  position:relative;
  left:-10px;
}

ul.blocks.mini li {

  padding:10px;
  padding-left:53px;

  width:auto;
  height:auto;

  min-height:32px;
  min-width:85px;

  background:#EDEDED 2px 2px no-repeat;

  border-color:#ddd;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;

  line-height:1.2em;
}

ul.blocks.mini li {
  width:160px;
  height:32px;
  margin:10px;
}

ul.blocks.mini.new-instance li {
  width:240px;
}

ul.blocks.mini.instance-widget li {
  margin:0;
  width:auto;
  height:auto;
}

ul.blocks.mini li .name {
  float:left;
}

ul.blocks.mini li .links, ul.blocks.mini li .infos {
  font-size:11px;
  float:right;
  margin-left:10px;
  border-left:1px dotted #ccc;
  padding-left:10px;
}

ul.blocks.mini li .infos {
  opacity:0.75;
}

/* Fix a display issue with Firefox 3.5 */
ul.blocks.mini li.ui-sortable-helper .links { display:none; }
ul.blocks.mini li.ui-sortable-helper { height:32px !important; }
ul.blocks.mini li.ui-sortable-placeholder { height:31px !important; }

ul.blocks.mini li.empty {
  background-color:transparent;
}

ul.blocks.mini li.current {
  background-color:#f5f5f5;
  border-color:#aaa;
}

ul.blocks.mini li .path {
  font-size:11px;
  opacity:0.75;
}

ul.blocks.mini li .description {
  font-size:12px;
  opacity:0.9;
}

ul.blocks.mini li .path, ul.blocks.mini li .manage  {
  white-space:nowrap;
}

ul.blocks.mini li           { background-image:url(img/default-48.png); }
ul.blocks.mini li.wordpress { background-image:url(img/wordpress-48.png); }
ul.blocks.mini li.dokuwiki  { background-image:url(img/dokuwiki-48.png); }
ul.blocks.mini li.bbpress   { background-image:url(img/bbpress-48.png); }
ul.blocks.mini li.gallery   { background-image:url(img/gallery-48.png); }
ul.blocks.mini li.statusnet { background-image:url(img/statusnet-48.png); }
ul.blocks.mini li.firefox-sync { background-image:url(img/firefox-sync-48.png); }
ul.blocks.mini li.blogmarks { background-image:url(img/blogmarks-48.png); }
ul.blocks.mini li.moonmoon { background-image:url(img/moonmoon-48.png); }
