/* --------------------------------------------------------------
   
   LD UI - Login Box
   
-------------------------------------------------------------- */

#ld-login-box {
  margin:25px auto;
  width:250px;
  border:1px solid #ccc;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  padding:20px 20px;
  background:#f5f5f5;
}

#ld-login-box form {
  width:100%;
  overflow:hidden;
}

#ld-login-box label {
  font-weight:bold;
  display:block;
}

#ld-login-box input.text {
  width:238px; /* 250 - 1 * 2 - 5 * 2 */
  display:block;
  padding:2px 5px;
  margin:0;
  margin-bottom:10px;
}

#ld-login-box input.button {
  padding:2px 5px;
  float:right;
  margin:0;
  margin-top:10px;
}

#ld-login-box .links {
  font-size:12px;
  margin-top:20px;
}

/* Identities
-------------------------------------------------------------- */

#ld-identities img {
  display:block;
  float:left;
  margin:2px;
}

#ld-identities a {
  display:block;
  border:1px solid #ccc;
  padding:5px 5px;
  background:white;
  vertical-align:middle;
  text-decoration:none;
  margin-bottom:10px;
  height:36px;
}

#ld-identities a:hover {
  border:1px solid #666;
  border-color:black;
	background:#4E5368;
	color:white;
}

#ld-identities span.fullname {
  font-size:14px;
  line-height:0;
  padding-left:10px;
}

#ld-identities span.identity {
  font-size:11px;
  line-height:0;
  color:#999;
  padding-left:10px;
}
