/* --------------------------------------------------------------
   
   LD UI: Merger
   
-------------------------------------------------------------- */

.ld-merger .h6e-main {
  float:left;
  width:70%;
}

.ld-merger .h6e-sidebar {
  float:left;
  width:30%;
}

.ld-merger .h6e-block {
  padding:1em 1.5em;
  margin:0 0 2.5em;
}

.ld-merger .hentry {
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px solid #ccc;
}

.ld-merger .hentry a.avatar {
  float:left;
  margin-right:10px;
}

.ld-merger h2.h6e-entry-title {
  font-size:13px;
  font-weight:bold;
  margin-bottom:0.25em;
}

.ld-merger .h6e-post-content {
  font-size:12px;
}

.ld-merger .hentry img.enclosure {
  width:100px;
  display:block;
  float:left;
  margin:0 10px 10px 0;
}

.ld-merger .entry a.username {
  font-weight:bold;
}

.ld-merger .h6e-post-info {
  margin-bottom:0;
}

.ld-merger .h6e-sidebar-inner {
  margin-left:2em;
}

.ld-merger .h6e-sidebar ul.blocks.mini li {
  float:none;
}
