/* --------------------------------------------------------------
   
   LD UI: Merger
   
-------------------------------------------------------------- */

.ld-merger .h6e-main {
  float:left;
  width:70%;
}

.ld-merger .h6e-sidebar {
  float:left;
  width:30%;
}

.ld-merger .h6e-block {
  padding:1em 1.5em;
  margin:0 0 2.5em;
}

.ld-merger .hentry, .ld-merger .hentry p, .ld-merger .hentry ul {
  font-size:12px;
}

.ld-merger .hentry .h6e-entry-title {
  font-size:13px;
}

.ld-merger .hentry {
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px solid #ccc;
  overflow:hidden;
}

.ld-merger .hentry img.avatar {
  float:left;
  margin-right:10px;
}

.ld-merger .hentry .entry-inner {
  float:left;
  width:550px;
}

.ld-merger h2.h6e-entry-title {
  font-size:13px;
  font-weight:bold;
  margin-bottom:0.25em;
}

.ld-merger .h6e-post-content {
  font-size:12px;
  overflow:hidden;
}

.ld-merger .h6e-post-content blockquote {
  color:inherit;
  opacity:0.75;
  border-width:5px;
}

.ld-merger .h6e-post-content blockquote,
.ld-merger .h6e-post-content p {
  margin:0;
}

.ld-merger .hentry img.enclosure, .ld-merger .hentry img.screenshot {
  display:block;
  float:left;
  margin:0 10px 10px 0;
  width:112px;
  height:84px;
  border:1px solid #ccc;
}

.ld-merger .entry a.username {
  font-weight:bold;
}

.ld-merger .h6e-post-info {
  font-size:11px;
  margin-bottom:0;
  opacity:0.75;
  clear:both;
}

.ld-merger .h6e-sidebar-inner {
  margin-left:2em;
}

.ld-merger .h6e-sidebar ul.blocks.mini li {
  float:none;
}
