/* --------------------------------------------------------------

   LD UI: Panel

-------------------------------------------------------------- */

/* Global
-------------------------------------------------------------- */

.ld-panel {
  font:12px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align:left;
}

.ld-panel, .ld-panel a {
  color:#4E5368;
}

.ld-panel a {
	text-decoration:underline;
}

.ld-panel-content {
  padding:20px;
  border:1px solid #ccc;
  border-radius:0 5px 5px;
  -moz-border-radius:0 5px 5px;
  -webkit-border-radius:0 5px 5px;
}

.ld-panel h1, .ld-panel h2, .ld-panel h3, .ld-panel h4 {
  margin:0;
  padding:0;
}

.ld-panel h3 {
  font-size:18px;
  margin:0.5em 0 1em;
}

.ld-panel input.cancel {
  background:transparent;
  border:none;
  text-decoration:underline;
  cursor:pointer;
}

.ld-panel input.cancel:hover { text-decoration:none; }

/* Instance Menu
-------------------------------------------------------------- */

.ld-instance-menu {
  margin:0;
  padding:0;
  width:100%;
  overflow:hidden;
}

.ld-instance-menu li {
  display:block;
  margin:0;
  padding:0;
  float:left;
}

.ld-instance-menu li a {
  display:block;
  padding:5px 10px;
  border:1px solid #ccc;
  border-radius:5px 5px 0 0;
  -moz-border-radius:5px 5px 0 0;
  -webkit-border-radius:5px 5px 0 0;
  margin-right:7px;
  border-bottom:0;
  font-size:12px;
  text-transform:capitalize;
}

.ld-instance-menu li a:hover,
.ld-instance-menu li.current a {
  background:#eee;
}

/* Preferences
-------------------------------------------------------------- */

.ld-preferences {
}

.ld-preferences td, .ld-preferences th {
  border-top:0;
  border-left:0;
  padding: 4px 10px 4px 5px;
}

.ld-preferences td input.text {
  margin:0;
}

table.ld-form, table.ld-preferences  {
  width:auto;
}

/* Theme Selector
-------------------------------------------------------------- */

.themes-container {
  width:100%;
  overflow:auto;
}

.themes-container .themes {
  width:2000px;
  overflow:hidden;
}

.themes-container .theme {
  width:240px;
  width:150px;
  margin-right:2em;
  margin-bottom:2em;
  margin-right:25px;
  float:left;
}

.themes-container .theme img, .themes-container .theme .no-theme-screenshot {
  width:150px;
  height:112px;
  margin-bottom:0.5em;
  display:block;
  border:1px solid #4E5368;
}

.themes-container .theme .no-theme-screenshot {
  background:url(img/theme-screenshot.png);
}
