/* --------------------------------------------------------------

   LD UI: Panel

-------------------------------------------------------------- */

/* Global
-------------------------------------------------------------- */

.ld-panel-content {
  padding:20px;
}

.ld-panel-content, .ld-panel-content.has-tab, .h6e-page-content.has-tab {
  border-top-left-radius:0;
  -moz-border-radius-topleft:0;
}

.ld-panel-content.no-tab {
  border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
}

.ld-panel h1, .ld-panel h2, .ld-panel h3, .ld-panel h4 {
  margin:0;
  padding:0;
}

.ld-panel h3 {
  font-size:18px;
  margin:0.5em 0 1em;
}

.ld-panel input.cancel {
  background:transparent;
  border:none;
  text-decoration:underline;
  cursor:pointer;
}

.ld-panel input.cancel:hover { text-decoration:none; }

/* Instance Menu
-------------------------------------------------------------- */

.ld-instance-menu li a {
  font-size:12px;
  text-transform:capitalize;
}

.ld-instance-menu li.active a, .h6e-tabs li.active a  {
  font-weight:bold;
  padding-bottom:6px;
}

.ld-panel table.ld-data {
  min-width:50%;
}

/* Preferences
-------------------------------------------------------------- */

.ld-preferences {
}

.ld-preferences td, .ld-preferences th {
  border-top:0;
  border-left:0;
  padding: 4px 10px 4px 5px;
}

.ld-preferences td input.text {
  margin:0;
}

table.ld-form, table.ld-preferences  {
  width:auto;
}

/* Theme Selector
-------------------------------------------------------------- */

.themes-container {
  width:100%;
  overflow:auto;
}

.themes-container .themes {
  width:2000px;
  overflow:hidden;
}

.themes-container .theme {
  width:240px;
  width:150px;
  margin-right:2em;
  margin-bottom:2em;
  margin-right:25px;
  float:left;
}

.themes-container .theme img, .themes-container .theme .no-theme-screenshot {
  width:150px;
  height:112px;
  margin-bottom:0.5em;
  display:block;
  border:1px solid #4E5368;
}

.themes-container .theme .no-theme-screenshot {
  background:url(img/theme-screenshot.png);
}
