/* --------------------------------------------------------------
   
   LD UI: Slotter
   
-------------------------------------------------------------- */

.ld-main-content h2 {
	margin:0px 0 15px;
}

.ld-main-content h2, .ld-main-content h2 a, .ld-main-content h2 a:visited {
	color:#FF6448;
}

.h6e-main-content {
	margin-bottom:1em;
	margin-top:2em;
	width:960px;
	padding-left:20px;
	padding-right:20px;
}

.h6e-main-content hr {
	padding-top:2em;
}

.h6e-page-title {
	margin:0.5em 0 0.75em;
}

.h6e-bread-crumbs {
	font-size:11px;
	padding-top:5px;
	padding-bottom:10px;
}

.h6e-page-content {
	padding:0;
}

.h6e-page-content ul, .h6e-page-content p {
	font-size:1.1em;
}

.h6e-simple-footer {
  padding-top:0.5em;
  clear:both;
}

.h6e-simple-footer {
	padding-top:1em;
}

/* Home
-------------------------------------------------------------- */

.ld-home {
	width:100%;
	overflow:hidden;
}

.ld-home .manage {
	float:left;
	padding-right:25px;
	border-right:1px dotted #ccc;
	margin-right:25px;
}

.ld-home .update {
	width:60%;
	float:left;
}

/* Notifications
-------------------------------------------------------------- */

.ld-error, .ld-notice, .ld-success {
	padding:5px 10px;
	margin-bottom:1em;
	border:1px solid #ddd;
}

.ld-error   { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4; }
.ld-notice  { background:#FFF6BF; color:#514721; border-color:#FFD324; }
.ld-success { background:#E6EFC2; color:#264409; border-color:#C6D880; }

.ld-error   a { color:#8a1f11; }
.ld-notice  a { color:#514721; }
.ld-success a { color:#264409; }

/* Others
-------------------------------------------------------------- */

.inline {
	display:inline;
}

#ld-lang-switcher input, #ld-lang-switcher select {
	font-size:11px;
	vertical-align:5%;
}
