/* Top Bar & Super Bar
-------------------------------------------------------------- */

.h6e-super-bar-inner, .h6e-top-bar-inner {
  background:#EDEDED;
  border-color:#CCCCCC;
}

.h6e-super-bar-inner, .h6e-top-bar-inner, .h6e-super-bar-inner a, .h6e-top-bar-inner a {
  color:#4E5368;
}

/* Instance Menu
-------------------------------------------------------------- */

.ld-instance-menu li.active a,
.ld-instance-menu li.current a {
  font-weight:bold;
}

/* Super Bar Instances
-------------------------------------------------------------- */

.h6e-super-bar ul.instances li {
  background-color:rgba(0,0,0,0.2);
  border:0;
}

.h6e-super-bar ul.instances li.current {
  background-color:rgba(0,0,0,0.5);
}

.h6e-super-bar ul.instances li.active {
  border-color:#333;
  background-color:#666;
}

/* Data */

table.h6e-data th, table.h6e-data td {
	border-color:rgba(0,0,0,0.5);
}

table.h6e-data th {
	background-color:rgba(0,0,0,0.2);
}

table.h6e-data tr td {
	background-color:rgba(0,0,0,0.05);
}

table.h6e-data tr.th2 th {
	background-color:rgba(0,0,0,0.15);
}

table.h6e-data tr.even td {
	background-color:rgba(0,0,0,0.1);
}

/* Forms */

input.button {
  cursor:pointer;
  background-color:rgba(0,0,0,0.6);
}

input.button:hover {
  background-color:rgba(0,0,0,0.8);
}

#ld-identities a {
	/* lighter (dark theme) */
	border-color:rgba(255,255,255,0.1);
	background-color:rgba(255,255,255,0.2);
	/* darker (light theme) */
	border-color:rgba(0,0,0,0.25);
	background-color:rgba(255,255,255,0.75);
}

#ld-identities a:hover {
	/* lighter (dark theme) */
	border-color:rgba(255,255,255,0.3);
	background-color:rgba(255,255,255,0.1);
	/* darker (light theme) */
	border-color:rgba(0,0,0,0.75);
	background-color:rgba(0,0,0,0.5);
}
