.svn

/.htaccess
/dist
/log
/repositories
/tmp

/apps

/bbpress
/dokuwiki
/dotclear
/firefox-sync
/gallery
/habari
/moonmoon
/roundcube
/statusnet
/wordpress

/admin/.htaccess
/admin/dist
/admin/openid

/css/bootstrap
/css/codemirror
/css/h6e-minimal
/css/jquery

/js/bootstrap
/js/ld/ld.c.js
/js/codemirror
/js/jquery

/lib/.htaccess
/lib/Auth
/lib/bad-behavior
/lib/Bouncer
/lib/clearbricks
/lib/HTMLPurifier
/lib/geshi
/lib/google-api-php-client
/lib/facebook-php-sdk
/lib/limonade
/lib/limonade.php
/lib/oauth2-php
/lib/Rediska
/lib/Rediska.php
/lib/Sabre
/lib/Sabre.includes.php
/lib/Zend

/shared/bouncer

/packages/*.zip
/packages/locales/*.zip
