.htaccess
.svn

dist
repositories
tmp

bbpress
dokuwiki
dotclear
firefox-sync
gallery
habari
moonmoon
roundcube
statusnet
wordpress

css/codemirror
css/h6e-minimal
css/jquery

js/codemirror
js/jquery

lib/.htaccess
lib/Auth
lib/bad-behavior
lib/Bouncer
lib/clearbricks
lib/HTMLPurifier
lib/geshi
lib/limonade
lib/limonade.php
lib/Rediska
lib/Rediska.php
lib/Zend

packages/*.zip
